#title {
  background-color: #838383;
  color: white;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.navbar-brand {
  font-family: "Sansita Swashed";
  font-size: 2rem;
  font-weight: bold;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Sansita Swashed";
  font-weight: "bold";
  color: white;
}
.header-container {
  padding: 3% 15%;
}
.main-photo {
  border-radius: 50%;
  margin: 0 25%;
}
#skills-heading {
text-align: center;
}
.card {
  background-color: #838383;
  text-align: center;
}
.front-end, .back-end, .camera-background {
  margin: auto;
  width: 200px;
}
h2 {
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 2;
}
h1 {
  font-family: "Sansita Swashed";
  font-weight: "bold";
  padding: 2rem 0;
}
p {
  font-family: "Staatiliches";
  font-size: 1.2rem;
  line-height: 2;
}
#details {
  padding: 3% 15%;
  background-color: #838383;
  color: white;
}
#bottom-section {
  background-color: #838383;
  text-align: center;
  color: white;
}
.facebook-link, .linkedin-link, .instagram-link {
  color: white;
  margin: 5px 2px;
}
.contact-button {
  margin: 2rem 0;
  font-family:"Staatiliches";
  font-weight: bold;
  color: white;
  background-color: #838383;
}

#copyright {
  background-color:#555555;
  padding-bottom: 2px;
  text-align: center;
}